@model WheelsShop.Models.ViewModels.SearchWheelViewModel

<div class="row col-md-12">
    @using (Html.BeginForm("SearchWheel", "Wheels", FormMethod.Get, new { area = "", @class = "form-horizontal" }))
    {
        <div class="row">            
            <div class="col-md-2">
                @Html.Label("Size: ")
                @Html.DropDownListFor(model => model.Sizes, Model.Sizes, "---Size---", new { @class = "form-control", placeholder = "Size" })
            </div>
            <div class="col-md-2">
                @Html.Label("PCD: ")
                @Html.DropDownListFor(model => model.PCDs, Model.PCDs, "---PCD---", new { @class = "form-control", placeholder = "PCD" })
            </div>
            <div class="col-md-2">
                @Html.Label("Brand: ")
                @Html.DropDownListFor(model => model.Brands, Model.Brands, "---Brand---", new { @class = "form-control", placeholder = "Brand" })
            </div>
          
            <div class="col-md-2">
                <input type="submit" id="buyTyreBtn" class="btn btn-default" value="Search" />
            </div>
        </div>
    }
</div>
