@model IEnumerable<WheelsShop.Models.ViewModels.WheelViewModel>

@{
    ViewBag.Title = "Search wheels";
}

@{ Html.RenderAction("Search");}

<div class="row">
    @if (Model == null || Model.Count() == 0)
    {
        <div class="alert alert-success">Wheels on this size are not on stock at the moment!!! </div>
    }
    else
    {
        <div class="row col-md-12">
            @foreach (var wheel in Model)
            {
                <div class="col-md-5" id="tyreForm">
                    <div id="leftSide" class="col-md-6">                       
                        <img src="data:image;base64,@System.Convert.ToBase64String(wheel.ImageUrl)" id="allTyrePic" />
                    </div>
                    <div id="rightSide" class="col-md-6">
                        <p><h4>@wheel.Brand</h4></p>
                        <p>@wheel.Model</p>
                        <p>Size: @wheel.Size</p>
                        <p>PCD: @wheel.PCD</p>

                        <p><h3>Price: @wheel.Price</h3></p>
                    </div>
                    <div id="buttons">
                        <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("BuyWheels", "Shop", new { productId = @wheel.Id, name="productId", @class="btn btn-default" })'">Buy</button>
                        @if (User.IsInRole("Admin"))
                    {

                        using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Post))
                        {
                                <div class="form-group">
                                    <div>
                                        <input type="number" name="Id" value="@wheel.Id" hidden />
                                        <input type="submit" value="Delete" class="btn btn-danger" />

                                    </div>
                                </div>
                            }
                            <button class="btn btn-success" type="button" onclick="location.href = '@Url.Action("EditProduct", "Admin", new {id = @wheel.Id, @class = "btn btn-default"})'">Edit</button>
                        }
                    </div>

                </div>
            }
        </div>

    }
</div>


