@model IEnumerable<WheelsShop.Models.ViewModels.OrderViewModel>

   <h2>All Orders</h2>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Order number", "ViewAllOrders", new { sortOrder = ViewBag.OrderNumberSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Order Date", "ViewAllOrders", new { sortOrder = ViewBag.OrderDate, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Product Id", "ViewAllOrders", new { sortOrder = ViewBag.ProductId, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Brand", "ViewAllOrders", new { sortOrder = ViewBag.BrandSortParam, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Model", "ViewAllOrders", new { sortOrder = ViewBag.ModelParam, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Size", "ViewAllOrders", new { sortOrder = ViewBag.SizeParam, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Ordered Quantity", "ViewAllOrders", new { sortOrder = ViewBag.Quantity, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Price per piece", "ViewAllOrders", new { sortOrder = ViewBag.Price, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Total price", "ViewAllOrders", new { sortOrder = ViewBag.TotalPrice, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">@Html.ActionLink("Status", "ViewAllOrders", new { sortOrder = ViewBag.Status, currentFilter = ViewBag.CurrentFilter })</th>
                    <th class="col-md-1 allorders-sort-btn">Image</th>
                </tr>
            </thead>
            @foreach (var order in @Model)
            {
                <tr>
                    @Html.Partial("~/Views/Shop/_OrderRow.cshtml", order)
                    <td>
                        @using (Html.BeginForm("ChangeOrderStatus", "Admin", FormMethod.Get, new { orderId = @order.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="number" name="orderId" value="@order.Id" hidden />
                            <input type="submit" value="Change status" class="btn btn-default" />
                        }
                    </td>
                </tr>
            }

        </table>
    </div>



