@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@if (TempData.ContainsKey("confirmedOrder"))
{
    <div class="alert alert-success">@TempData["confirmedOrder"]</div>
}

@if (TempData.ContainsKey("TyreAdded"))
{
    <div class="alert alert-success">@TempData["TyreAdded"]</div>
}


@if (TempData.ContainsKey("WheelAdded"))
{
    <div class="alert alert-success">@TempData["WheelAdded"]</div>
}

@if (TempData.ContainsKey("ProductDeleted"))
{
    <div class="alert alert-success">@TempData["ProductDeleted"]</div>
}

@if (TempData.ContainsKey("noOrdersFound"))
{
    <div class="alert alert-success">@TempData["noOrdersFound"]</div>
}

@if (TempData.ContainsKey("notEnoughQuantity"))
{
    <div class="alert alert-success">@TempData["notEnoughQuantity"]</div>
}

@if (TempData.ContainsKey("ProductNotAdded"))
{
    <div class="alert alert-success">@TempData["ProductNotAdded"]</div>
}



