@model WheelsShop.Models.ViewModels.SearchTyreViewModel

<div class="row">
@using (Html.BeginForm("SearchTyre", "Tyres", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <div class="row col-md-12">
        <div class="col-md-2">
            @Html.Label("Width: ")
            @Html.DropDownListFor(model => model.Widths, Model.Widths, "---Width---", new { @class = "form-control", placeholder = "" })
        </div>
        <div class="col-md-2">
            @Html.Label("Height: ")
            @Html.DropDownListFor(model => model.Height, Model.Height, "---Height---", new { @class = "form-control", placeholder = "Height" })
        </div>
        <div class="col-md-2">
            @Html.Label("Size: ")
            @Html.DropDownListFor(model => model.Sizes, Model.Sizes, "---Size---", new { @class = "form-control", placeholder = "Size" })
        </div>
        <div class="col-md-2">
            @Html.Label("Season: ")
            @Html.DropDownListFor(model => model.Seasons, Model.Seasons, "---Season---", new { @class = "form-control", placeholder = "Season" })
        </div>
        <div class="col-md-2">
            @Html.Label("Brand: ")
            @Html.DropDownListFor(model => model.Brands, Model.Brands, "---Brand---", new { @class = "form-control", placeholder = "Brand" })
        </div>       
        <div class="col-md-2">
            <input type="submit" id="buyTyreBtn" class="btn btn-default" value="Search" />
        </div>
    </div>
}
</div>


@*//TODO:
- order by for tyres
- tests*@

