@model WheelsShop.App.Models.ViewModels.AllTyresViewModel

@{
    ViewBag.Title = "AllTyres";
}

@foreach (var tyreVm in Model.TyresVM)
{
    <div class="col-md-3" id="tyreForm"> 
        <div id="leftSide"><img id="allTyrePic" src="../../Content/Images/tyre.jpg" /></div>      
        <div id="rightSide">
            <p>@tyreVm.Brand - @tyreVm.Model</p>
            <p>Size: @tyreVm.Width/@tyreVm.Height R @tyreVm.Size</p>
            <p>Season: @tyreVm.Season</p>
            <p><h3>Price: @tyreVm.Price</h3></p>
        </div>    
    </div>
}
