@model WheelsShop.Models.ViewModels.OrderViewModel

<td >@Model.Id</td>
<td >@Html.DisplayFor(vm => @Model.OrderDate)</td>
<td >@Model.Product.Id</td>
<td >@Html.DisplayFor(vm => @Model.Product.Brand)  </td>
<td >@Html.DisplayFor(vm => @Model.Product.Model) </td>
<td >
    @if (@Model.Product.PCD != null)
    {
        <span>@Html.DisplayFor(vm => @Model.Product.Size)</span>
                                <span>@Html.DisplayFor(vm => @Model.Product.PCD)</span>
    }
    else
    {
        <span>@Html.DisplayFor(vm => @Model.Product.Width)</span>
                                <span>/</span>
                                <span>@Html.DisplayFor(vm => @Model.Product.Height)</span>
                                <span>R</span>
                                <span>@Html.DisplayFor(vm => @Model.Product.Size)</span>
    }

</td>
<td >@Html.DisplayFor(vm => @Model.Quantity)</td>
<td >@Html.DisplayFor(vm => @Model.Product.Price)</td>
<td >@(@Model.Quantity * @Model.Product.Price) BGN</td>
<td >@Html.DisplayFor(vm => @Model.Status)</td>
<td ><img class="img-small" src="@Model.Product.ImageUrl" /></td>