@model WheelsShop.Models.ViewModels.TyreViewModel

@{
    ViewBag.Title = "Buy";
}

<div class="row buyTyre">
    <div class="col-md-4">      
        <img class="tyreImage" src="data:image;base64,@System.Convert.ToBase64String(Model.ImageUrl)" />
    </div>
    <div class="col-md-8">
        <h4>
            @Html.DisplayFor(m => @Model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        
            @Html.DisplayFor(m => @Model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        
            @Html.DisplayFor(m => @Model.Width)/@Html.DisplayFor(m => @Model.Height) R @Html.DisplayFor(m => @Model.Size)
        </h4>
        <h4>
            @Html.DisplayFor(m => @Model.Season)
        </h4>
        <h3>
            @Html.DisplayFor(m => @Model.Price) BGN
        </h3>
        
        <h4>
            Available on stock: @Html.DisplayFor(m => @Model.Stock)
        </h4>
        <div>
            <button class="btn btn-warning" id="description" onclick="getDescription(@Model.Id)">Description </button>
        </div>
        <div id="description-result"></div>

        @using (Html.BeginForm("AddToCart", "Shop", FormMethod.Post, new { area = ""}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <div>
                    <input type="number" name="productId" value="@Model.Id" hidden />
                    <p>                        
                        Quantity you want to buy: 
                        @Html.TextBoxFor(model => model.Stock, new { name="quantity", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Stock)
                    </p>
                    <input type="submit" value="Add to cart" class="btn btn-default" />
                </div>
            </div>
        }
       
        <div class="col-sm-12 btn-margin-15" >
            <input type="button" class="btn btn-warning" value="Back" onclick="location.href='@Url.Action("SearchTyre", "Tyres")'" />
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function getDescription(id) {
    
            $('#description-result').load("/Shop/GetDescription/" + id);
        }
    </script>
}

