@model WheelsShop.Models.ViewModels.TyreViewModel

@{
    ViewBag.Title = "Buy";
}



<div class="row buyTyre">
    <div class="col-md-4">      
        <img id="allTyrePic" class="tyreImage" src="data:image;base64,@System.Convert.ToBase64String(Model.ImageUrl)" />
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayFor(m => @Model.Brand)
            @Html.ValidationMessageFor(model => model.Brand)
        </span>
        <span>
            @Html.DisplayFor(m => @Model.Model)
            @Html.ValidationMessageFor(model => model.Model)
        </span>
        <span>
            @Html.DisplayFor(m => @Model.Width)/@Html.DisplayFor(m => @Model.Height) R @Html.DisplayFor(m => @Model.Size)
        </span>
        <p>
            @Html.DisplayFor(m => @Model.Season)
        </p>
        <p><h2>
            @Html.DisplayFor(m => @Model.Price)
            </h2>
        </p>
        <p>
            Available on stock: @Html.DisplayFor(m => @Model.Stock)
        </p>
        <div>
            <button class="btn-default" id="description" onclick="getDescription(@Model.Id)">
                Description
            </button>
        </div>
        <div id="description-result"></div>

        @using (Html.BeginForm("AddToCart", "Shop", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div>
                    <input type="number" name="productId" value="@Model.Id" hidden />
                    <p>                        
                        Quantity you want to buy: @Html.TextBox("Quantity", null, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Stock)
                    </p>
                    <input type="submit" value="Add to cart" class="btn btn-default" />
                </div>
            </div>
        }
       
        <div class="col-sm-12">
            <input type="button" class="btn btn-default" value="Back" onclick="location.href='@Url.Action("SearchTyre", "Tyres")'" />
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function getDescription(id) {
    
            $('#description-result').load("/Shop/GetDescription/" + id);
        }
    </script>
}

