@model IEnumerable<WheelsShop.Models.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "ViewCart";
}
@if (Model.Any())
{
        <div class="form-group">
            <div class="row col-md-12">
                <table>
                    <tr>
                        <th class="col-md-1">Order ID</th>
                        <th class="col-md-1">Order Date</th>
                        <th class="col-md-1">Product ID</th>
                        <th class="col-md-1">Brand</th>
                        <th class="col-md-1">Model</th>
                        <th class="col-md-1">Size</th>
                        <th class="col-md-1">Ordered Quantity</th>
                        <th class="col-md-1">Price per piece</th>
                        <th class="col-md-1">Total price</th>
                        <th class="col-md-1">Order status</th>
                        <th class="col-md-1">Image</th>
                    </tr>
                    <tbody>
                    @{
                        decimal totalSum = 0;
                    }
                    @foreach (var order in @Model)
                    {
                        decimal totalPrice = @order.Quantity*@order.Product.Price;
                        totalSum += totalPrice;
                        <tr>                          
                            @Html.Partial("_OrderRow", order)
                            <td>
                                @using (Html.BeginForm("DeleteProductFromCart", "Shop", FormMethod.Post, new { orderId = @order.Id}))
                                {
                                    <input type="number" name="orderId" value="@order.Id" hidden />
                                    <input type="submit" value="Remove from cart" class="btn btn-default" />
                                }                               
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <tr>
                    <h2>Total: @totalSum BGN</h2>
                </tr>
                @using (Html.BeginForm("ConfirmOrders", "Shop", FormMethod.Post))
                {
                    foreach (var order in Model)
                    {
                        <input type="number" name="orderIds" value="@order.Id" hidden />
                    }
                    <input type="submit" value="Confirm" class="btn btn-default" />
                }
            </div>

        </div>
                        }
                        else
                        {
                            <div class="alert-success message">
                                Your cart is empty!!!
                            </div>
                        }

<div class="col-sm-12">
    <input type="button" class="btn btn-default" value="Continue shopping" onclick="location.href='@Url.Action("Index", "Home")'" />
</div>